.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
}

.bannerBg {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  flex: 0 0 40%;
  width: 40%;
  height: 100%;
  /* background-color: #2a292c; */
  background-color: #053758;
}

.swiper-slide {
  display: flex;
  font-size: 18px;
  height: 100%;
}

.contentText {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 8rem;
  padding-right: 8rem;
  justify-content: center;
  flex: 0 0 40%;
  flex-direction: column;
  color: #fff;
  z-index: 6;
}

.contentText:hover ~ .imageBox > img {
  transform: scale(1.1);
}

.silde__headText {
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #ca9259;
}

.slide__title {
  opacity: 0;
  font-family: "DinPro";
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.slide__text {
  opacity: 0;
  font-size: 0.9rem;
  margin: 20px 0px;
}

.bannerBtn {
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #a7794a;
  border-right: 5px solid #db9e5f;
  border-radius: 0px;
  width: auto;
  color: #fff;
  transition: all 0.1s;
}

.bannerBtn:hover {
  color: #fff;
  border-right: 10px solid #d38b42;
}

.swiper-slide.swiper-slide-active .bannerBtn {
  animation: fadeInUp;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  transition-delay: 1.2s;
  opacity: 1;
}

.swiper-slide.swiper-slide-active .slide__title {
  animation: fadeInUp;
  animation-duration: 1.2s;
  animation-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 1;
}

.swiper-slide.swiper-slide-active .slide__text {
  animation: fadeIn;
  animation-duration: 1.3s;
  transition-delay: 1.2s;
  animation-delay: 1.2s;
  opacity: 1;
}

.swiper-slide.swiper-slide-active .silde__headText {
  animation: fadeInDown;
  animation-duration: 1.2s;
  transition-delay: 0.7s;
  animation-delay: 0.7s;
  opacity: 1;
}

.slider__bottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 80%;
  right: 0;
  width: 100%;
  max-width: 340px;
  /* background-color: #2c2929; */
  background-color: #053758;
  justify-content: center;
  align-items: center;
  z-index: 12;
  padding: 45px 30px 45px 15px;
  font-size: 12px;
}

.slider__bottom .swiper-scrollbar-drag {
  height: 5px;
}

.slider__nav {
  position: relative;
}

.slider__pagination-wrapper {
  position: relative;
  display: flex;
  flex: 0 0 20%;
}

.swiper-pagination {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  position: relative !important;
  bottom: unset !important;
  left: unset !important;
  color: rgb(63, 63, 63);
  display: flex;
  align-items: center;
}

.swiper-pagination b {
  color: rgb(161, 161, 161);
}

.swiper-pagination span {
  height: 100%;
  width: 2px;
  background-color: #383838;
  margin: 0px 10px;
}

.slider__scrollbar_box {
  flex: 0 0 40%;
  width: 100%;
}

.slider__nav {
  flex: 0 0 25%;
  width: 100%;
}
.slider__prev::after,
.slider__next::after {
  font-size: 18px !important;
  color: #585858;
}

.imgBg {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #35466f;
  background: linear-gradient(
    280deg,
    rgba(0, 64, 122, 1),
    rgba(7, 64, 122, 0.3) 30%,
    rgba(7, 64, 122, 0)
  );
}

.imageBox {
  flex: 0 0 60%;
  object-fit: cover;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #2c2929;
  height: 80%;
  overflow: hidden;
  z-index: 5;
}

.imageBox > img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
  transition: all 0.7s;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

@media (max-width: 1833px) {
  .slide__title {
    font-size: 2.8rem;
  }
  .contentText {
    padding: 0px 6rem;
  }
}

@media (max-width: 1595px) {
  .slide__title {
    font-size: 2.5rem;
  }
  .contentText {
    padding: 0px 6rem;
  }
  .slide__text {
    font-size: 0.9rem;
    margin: 5px 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1475px) {
  .slide__title {
    font-size: 2.3rem;
  }
  .contentText {
    padding: 0px 5rem;
  }
}

@media (max-width: 1315px) {
  .slide__title {
    font-size: 2.3rem;
  }
  .contentText {
    padding: 0px 4rem;
  }
}

@media (max-width: 1240px) {
  .slide__title {
    font-size: 2.1rem;
  }
  .silde__headText {
    font-size: 0.8rem;
  }
}

@media (max-width: 1155px) {
  .contentText {
    flex: 0 0 45%;
  }
  .imageBox {
    flex: 0 0 55%;
    height: 100%;
  }

  .bannerBg {
    flex: 0 0 45%;
    width: 45%;
  }
  .slider__bottom {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    bottom: 0;
    width: 100%;
    top: 90%;
    max-width: 340px;
    background-color: #2c2929;
    justify-content: center;
    align-items: center;
    z-index: 12;
    padding: 15px 0px 10px 15px;
    font-size: 12px;
  }
}

@media (max-width: 990px) {
  .swiper-slide {
    justify-content: flex-end;
    align-items: center;
  }
  .contentText {
    display: flex;
    position: absolute;
    width: 60%;
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
  }

  .slide__title {
    float: right;
    text-align: right;
  }

  .slide__text {
    float: right;
    text-align: right;
    margin: 10px 0px;
  }
  .imgBg {
    background: linear-gradient(
      280deg,
      rgba(0, 64, 122, 1),
      rgba(7, 64, 122, 0.3) 70%,
      rgba(7, 64, 122, 0)
    );
  }

  .bannerBg {
    display: none;
  }
  .imageBox {
    height: 100%;
    flex: 0 0 100%;
  }
}

.social_links {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  right: 3%;
  top: 45%;
}

.social_links a {
  color: #fff;
}

@media (max-width: 850px) {
  .contentText {
    width: 65%;
    padding: 0px;
    padding-right: 3rem;
  }
  .social_links {
    display: none;
  }
}

@media (max-width: 710px) {
  .contentText {
    width: 70%;
  }
}

@media (max-width: 580px) {
  .contentText {
    width: 80%;
  }
}

@media (max-width: 510px) {
  .contentText {
    width: 80%;
    padding-right: 2rem;
  }
}

@media (max-width: 420px) {
  .contentText {
    width: 90%;
    padding-right: 1.2rem;
  }
}

@media (max-width: 955px) {
  .slider__bottom {
    flex-direction: column;
    transform: translateY(-50%);
    top: 50%;
    bottom: 40% !important;
    left: 0;
    width: 90px;
    padding: 9px 0px 8px 0px;
  }
  .slider__scrollbar_box {
    display: none !important;
  }

  .slider__pagination-wrapper {
    margin-bottom: 10px;
  }
}
