.boxed {
  padding-left: 10rem;
  padding-right: 10rem;
}

body {
  font-weight: normal;
  /* overflow: hidden; */
}

.custom-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1160px;
  }
}

@media (max-width: 1400px) {
  .custom-container {
    max-width: 950px;
  }
}

@media (max-width: 1240px) {
  .custom-container {
    max-width: 900px;
  }
}

@media (max-width: 990px) {
  .custom-container {
    max-width: 800px;
  }
}

@media (max-width: 840px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (max-width: 760px) {
  .custom-container {
    max-width: 600px;
  }
}

@media (max-width: 760px) {
  .custom-container {
    max-width: 560px;
  }
}

@media (max-width: 590px) {
  .custom-container {
    max-width: 500px;
  }
}

/* @media (min-width: 1200px) {
  .custom-container {
    max-width: 950px;
  }
} */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* cursor: none; */
  user-select: none;
  -webkit-user-drag: none;
}

.effect.slide-down:after {
  color: #00407a !important;
}
.cursor {
  position: absolute;
  z-index: 10000;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: rgb(74, 46, 83);
  pointer-events: none;
  mix-blend-mode: difference;
}
.cursor-f {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.4202 42.4202C38.8403 46 33.3594 46 23.5 46C13.6406 46 8.15966 46 4.57983 42.4202C1 38.8403 1 33.3594 1 23.5C1 13.6406 1 8.15966 4.57983 4.57983C8.15966 1 13.6406 1 23.5 1C33.3594 1 38.8403 1 42.4202 4.57983C46 8.15966 46 13.6406 46 23.5C46 33.3594 46 38.8403 42.4202 42.4202Z' stroke='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0.5;
}

/* Burger menu */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #00407a;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 5px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

/* RESPONSIVE  */

@media (max-width: 1400px) {
  .menu__btn {
    display: flex;
  }
  .effect.slide-down:after {
    color: #a7794a !important;
  }
}
