.Partners {
  width: 100%;
  background-color: #f9f9f9;
}

.Logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Logos img {
  width: 100%;
  height: auto;
  padding: 30px;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: 0.4;
  transition: all 0.2s ease-in;
}

.Logos img:hover {
  filter: grayscale(0%);
  opacity: 1;
  /* filter: grayscale(0%); */
}
/* 
@media (max-width: 1399px) {
  .Logos img {
    width: 200px;
    height: auto;
    padding: 30px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s;
    justify-content: space-between;
  }
}

@media (max-width: 1199px) {
  .Logos img {
    width: 180px;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .Logos img {
    width: 135px;
    height: auto;
    padding: 15px;
  }
} */

/* @media (max-width: 767px) {
  .Logos img {
    width: 200px;
    height: auto;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Logos img {
    width: 135px;
    height: auto;
    padding: 15px;
  }
} */
